algonauts
.ipynb_checkpoints
preprocessing
transformer
first_20_seconds.mp4
output_segment.mp4
visual_features
algonauts_2025.competitors
runs
Paper Implementations/Ridge Regression/data/
Paper Implementations/Computer Vision/LeNet-5/data/
phase1_ridge_submission_updated